.nav-menu a:hover{
    color: #14b0b6;
}

.check-group-paiement{
    font-size: 15px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.form-check{
    display: flex;
    align-items: center;
    width: 100px;
    height: 75px;
    margin-top: 2rem;
    /* margin-left: 2rem; */
}

.form-check img{
    width: 100%;
    height: 100%;
}

.paiement{
    font-size: 20px;
    margin-bottom: 0.7rem
}

.form-check-input{
    cursor: pointer;
}

.button-submit{
    border: none;
    padding: 1rem 4rem;
    margin-top: 1rem;
    background-color: #4136a8;
    font-weight: 700;
    color: #fff;
    border-radius: 0.6rem;
    transition: 0.3s;
    font-size: 1.8rem;
    display: inline-block;
    text-align: center;
    text-transform: capitalize;
}

.button-submit:hover{
    background-color: #14b0b6;
}

.disabled-button {
    background-color: #ccc; 
    color: #888;
    cursor: not-allowed; 
}

.disabled-button:hover {
    background-color: #ccc;
}
  