<main>
    <!-- start home area -->
    <div class="home-area product-view-home d-flex align-items-center lazy-img"  style="background-image: url(../../assets/img/about-hero.jpg);">
       <div class="container">
          <div class="row align-items-center justify-content-center">
             <div class="col-md-12">
                <div class="home-text-area">
                   <h2>Details produit</h2>
                   <div>
                      <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
                         <li class="breadcrumb-item active">Details produit</li>
                      </ol>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <!-- end home area -->
    <!-- start div area -->
    <div class="item-view-area">
       <div class="container">
          <div class="row align-items-center">
             <div class="col-lg-6 mt_30">
                <div class="owl-carousel item-slider">
                   <div class="item">
                      <div class="item-img popup-gallery">
                         <img class="img-fluid lazy-load" src="../../assets/img/product-view.jpg" alt="img"/>
                         <a href="../../assets/img/product-view.jpg" class="image-popup big-view">
                         <i class="fal fa-search-plus"></i>
                         </a>
                      </div>
                   </div>
                   <div class="item">
                      <div class="item-img popup-gallery">
                         <img class="img-fluid lazy-load" src="../../assets/img/product-view-2.jpg" alt="img"/>
                         <a href="../../assets/img/product-view-2.jpg" class="image-popup big-view">
                         <i class="fal fa-search-plus"></i>
                         </a>
                      </div>
                   </div>
                   <div class="item">
                      <div class="item-img popup-gallery">
                         <img class="img-fluid lazy-load" src="../../assets/img/product-view-3.jpg" alt="img"/>
                         <a href="../../assets/img/product-view-3.jpg" class="image-popup big-view">
                         <i class="fal fa-search-plus"></i>
                         </a>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-lg-6 mt_30">
                <div class="product-deatils-wrapper">
                   <a class="back" [routerLink]="['/pharmacie']">
                   <i class="fal fa-arrow-left"></i>
                   <span>Retour au produit</span>
                   </a>
                   <div class="name-area">
                      <h2>Anti-septic Dry Hand Gel</h2>
                      <div class="rating-area d-flex">
                         <div class="icon">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                         </div>
                         <p>4,4(328 reviews)</p>
                      </div>
                   </div>
                   <div class="price-area">
                      <h5>Prix</h5>
                      <p>4000 Fcfa</p>
                   </div>
                   <div class="size-area d-flex">
                      
                      <div class="number-area">
                         <input type="number" value="1" min="0">
                      </div>
                   </div>
                   <div class="cart-area-wrapper d-flex">
                      <a href="#" class="add-cart button">
                      Ajouter
                      <i class="fal fa-shopping-bag"></i>
                      </a>
                   </div>
                   <div class="categories-area d-flex">
                      <h5>Categories :</h5>
                      <span>Assisories, Medical</span>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <!-- end item view area -->
    <!-- start item discription area -->
    <div class="item-discription-area">
       <div class="container">
          <div class="row">
             <div class="col-md-3 mt_30">
                <div class="discription-tab-link">
                   <div class="nav flex-column nav-pills" id="v-pills-tab">
                      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-dis">Description</a>
                      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-review">Avis</a>
                      <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-info">Plus de deatils</a>
                   </div>
                </div>
             </div>
             <div class="col-md-9 mt_30">
                <div class="discription-tab-element">
                   <div class="tab-content" id="v-pills-tabContent">
                      <div class="tab-pane fade show active" id="v-pills-dis">
                         <div class="row">
                            <div class="col-12">
                               <div class="box-area">
                                  <h3>Anti-septic Dry Hand Gel</h3>
                                  <p class="mt_30">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil unde autem dolorum aut esse voluptas. Et numquam sit minus vitae, nobis ipsa voluptates amet est accusamus aliquid nemo non consequuntur 
                                     necessitatibus porro illo odio quos recusandae aliquam, dolore architecto laboriosam incidunt delectus. Iste amet officia ipsum veritatis, suscipit obcaecati laboriosam.
                                  </p>
                                  <p class="mt_30">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis labore nobis possimus tempora temporibus natus recusandae esse autem eligendi tempore!</p>
                                  <p class="mt_30"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident labore quasi autem. Dolorem est exercitationem iste quaerat.</p>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="tab-pane fade" id="v-pills-review">
                         <div class="row">
                            <div class="box-area">
                               <h3>Customar Reviews</h3>
                               <div class="review-box mt_30">
                                  <div class="inner">
                                     <div class="media align-items-center">
                                        <img class="mr_20 lazy-load" src="../../assets/img/client.jpg" alt="img"/>
                                        <div class="media-body">
                                           <h3>User</h3>
                                           <p>December 28, 2020</p>
                                        </div>
                                     </div>
                                  </div>
                                  <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum blanditiis cumque maiores fugiat dicta. Provident, a! Ea molestiae laudantium vitae. </span>
                               </div>
                               <div class="review-box mt_30">
                                  <div class="inner">
                                     <div class="media align-items-center">
                                        <img class="mr_20 lazy-load" src="../../assets/img/client.jpg" alt="img"/>
                                        <div class="media-body">
                                           <h3>User2</h3>
                                           <p>December 28, 2020</p>
                                        </div>
                                     </div>
                                  </div>
                                  <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum blanditiis cumque maiores fugiat dicta. </span>
                               </div>
                               <div class="add-reviw-area mt_30 contact-area">
                                  <a class="btn-write" data-toggle="collapse" href="#collapsewrite">
                                  <i class="fal fa-edit"></i>
                                  <span>Donner votre avis</span>
                                  </a>
                                  <div class="collapse" id="collapsewrite">
                                     <div class="my-rating d-flex mt_20">
                                        <h4>Notez</h4>
                                        <div class="my-rating-wrapper">
                                           <div class="star-rating">
                                              <input type="radio" id="5-stars" name="rating" value="5" />
                                              <label for="5-stars" class="star">&#9733;</label>
                                              <input type="radio" id="4-stars" name="rating" value="4" />
                                              <label for="4-stars" class="star">&#9733;</label>
                                              <input type="radio" id="3-stars" name="rating" value="3" />
                                              <label for="3-stars" class="star">&#9733;</label>
                                              <input type="radio" id="2-stars" name="rating" value="2" />
                                              <label for="2-stars" class="star">&#9733;</label>
                                              <input type="radio" id="1-star" name="rating" value="1" />
                                              <label for="1-star" class="star">&#9733;</label>
                                           </div>
                                        </div>
                                     </div>
                                     <form class="needs-validation" novalidate="">
                                        <div class="row">
                                           <div class="col-md-6 mt_30">
                                              <div class="review_input_group">
                                                 <input class="form-control" type="text" placeholder="Votre nom" required="">
                                              </div>
                                           </div>
                                           <div class="col-md-6 mt_30">
                                              <div class="review_input_group">
                                                 <input class="form-control" type="email" placeholder="Votre mail" required="">
                                              </div>
                                           </div>
                                           <div class="col-md-12">
                                              <div class="review_input_group">
                                                 <textarea class="form-control" placeholder="Message" required=""></textarea>
                                              </div>
                                           </div>
                                           <div class="btn-area">
                                              <button type="submit" class="button">Valider</button>
                                           </div>
                                        </div>
                                     </form>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="tab-pane fade" id="v-pills-info">
                         <div class="row">
                            <div class="col-md-12">
                               <div class="box-area">
                                  <h3>Details produit :</h3>
                                  <div class="deatils-wrapper mt_30">
                                     <div class="deatils">
                                        <p>Marque :</p>
                                        <span>Cheetos</span>
                                     </div>
                                     <div class="deatils">
                                        <p>ISBN-13 :</p>
                                        <span>9780321793911</span>
                                     </div>
                                     <div class="deatils">
                                        <p>Categorie :</p>
                                        <span>Assisories, Medical</span>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <!-- end item discription area -->
    <!-- start related product area -->
    <div class="related-products-area">
       <div class="container">
          <div class="row product-tab-area">
             <div class="col-md-12">
                <div class="title">
                   <h2>Produits similaires</h2>
                </div>
             </div>
             <div class="col-md-12">
                <div class="owl-carousel smiliar-product">
                   <div *ngFor="let produit of produits" class="item">
                     <div class="item-box dis-box">
                        <a routerLink='/detail-produit'>
                        <img class="img-fluid lazy-load" [src]="produit.image" alt="img"/>
                        </a>
                        <div class="text-area">
                           <a routerLink='/detail-produit'>
                              <p>{{produit.categorie}}</p>
                              <h3>{{produit.nom}}</h3>
                           </a>
                           <div class="price-area d-flex justify-content-center">
                              <p>{{produit.prix}}</p>
                              <span *ngIf="produit.reduction"><del>{{produit.reduction}}</del></span>
                           </div>
                           <a routerLink='/detail-produit'  class="add-cart button">
                              Ajouter
                              <i class="fal fa-shopping-bag"></i>
                           </a>
                        </div>
                        <div *ngIf="produit.reduction" class="discount-area">-22%</div>
                     </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <app-newsletter></app-newsletter>
    <!-- start sign-in modal  -->
    <app-connexion></app-connexion>
    <!-- end sign-in modal  -->
 </main>