<main>
    <!-- start home area -->
    <div class="home-area blog-home d-flex align-items-center lazy-img"  style="background-image: url(../../assets/img/about-hero.jpg);">
       <div class="container">
          <div class="row align-items-center justify-content-center">
             <div class="col-md-12">
                <div class="home-text-area">
                   <h2>Notre Blog</h2>
                   <div>
                      <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
                         <li class="breadcrumb-item active">Blog</li>
                      </ol>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <!-- end home area -->
    <!-- start blog area -->
    <div class="blog-main-area">
       <div class="container">
          <div class="row">
             <div class="col-xl-3 col-lg-4 col-sm-6 mt_50">
                <div class="blog-box">
                   <div class="blog-hover-img">
                      <a href="blog-view.html">
                         <img class="img-fluid lazy-load" src="../../assets/img/blog-1.jpg" alt="img"/>
                      </a>
                   </div>
                   <div class="text-area">
                      <p>July 21, 2022</p>
                      <a href="blog-view.html">
                         <h2>Review Of Healthy Breakfast Meals For Energy Boost </h2>
                      </a>
                   </div>
                </div>
             </div>
             <div class="col-xl-3 col-lg-4 col-sm-6 mt_50">
                <div class="blog-box">
                   <div class="blog-hover-img">
                      <a href="blog-view.html">
                         <img class="img-fluid lazy-load" src="../../assets/img/blog-2.jpg" alt="img"/>
                      </a>
                   </div>
                   <div class="text-area">
                      <p>July 21, 2022</p>
                      <a href="blog-view.html">
                         <h2>mahindra to lead fords india operations new jv to focus </h2>
                      </a>
                   </div>
                </div>
             </div>
             <div class="col-xl-3 col-lg-4 col-sm-6 mt_50">
                <div class="blog-box">
                   <div class="blog-hover-img">
                      <a href="blog-view.html">
                         <img class="img-fluid lazy-load" src="../../assets/img/blog-3.jpg" alt="img"/>
                      </a>
                   </div>
                   <div class="text-area">
                      <p>July 21, 2022</p>
                      <a href="#">
                         <h2>reality checkblog-view.html corporate tax cut unlikely </h2>
                      </a>
                   </div>
                </div>
             </div>
             <div class="col-xl-3 col-lg-4 col-sm-6 mt_50">
                <div class="blog-box">
                   <div class="blog-hover-img">
                      <a href="blog-view.html">
                         <img class="img-fluid lazy-load" src="../../assets/img/blog-4.jpg" alt="img"/>
                      </a>
                   </div>
                   <div class="text-area">
                      <p>July 21, 2022</p>
                      <a href="blog-view.html">
                         <h2>how to choose perfect gadgets </h2>
                      </a>
                   </div>
                </div>
             </div>
             <div class="col-xl-3 col-lg-4 col-sm-6 mt_50">
                <div class="blog-box">
                   <div class="blog-hover-img">
                      <a href="blog-view.html">
                         <img class="img-fluid lazy-load" src="../../assets/img/blog-5.jpg" alt="img"/>
                      </a>
                   </div>
                   <div class="text-area">
                      <p>July 21, 2022</p>
                      <a href="blog-view.html">
                         <h2>diet is a relationship between you and your body  </h2>
                      </a>
                   </div>
                </div>
             </div>
             <div class="col-xl-3 col-lg-4 col-sm-6 mt_50">
                <div class="blog-box">
                   <div class="blog-hover-img">
                      <a href="blog-view.html">
                         <img class="img-fluid lazy-load" src="../../assets/img/blog-6.jpg" alt="img"/>
                      </a>
                   </div>
                   <div class="text-area">
                      <p>July 21, 2022</p>
                      <a href="blog-view.html">
                         <h2>Model Shares Her Packing List for Summer  </h2>
                      </a>
                   </div>
                </div>
             </div>
             <div class="col-xl-3 col-lg-4 col-sm-6 mt_50">
                <div class="blog-box">
                   <div class="blog-hover-img">
                      <a href="blog-view.html">
                         <img class="img-fluid lazy-load" src="../../assets/img/blog-7.jpg" alt="img"/>
                      </a>
                   </div>
                   <div class="text-area">
                      <p>July 21, 2022</p>
                      <a href="blog-view.html">
                         <h2>Interior inspiration to hidden in the middle of text</h2>
                      </a>
                   </div>
                </div>
             </div>
             <div class="col-xl-3 col-lg-4 col-sm-6 mt_50">
                <div class="blog-box">
                   <div class="blog-hover-img">
                      <a href="blog-view.html">
                         <img class="img-fluid lazy-load" src="../../assets/img/blog-1.jpg" alt="img"/>
                      </a>
                   </div>
                   <div class="text-area">
                      <p>July 21, 2022</p>
                      <a href="blog-view.html">
                         <h2>Amazon gets CCI nod to acquire 49% stake in </h2>
                      </a>
                   </div>
                </div>
             </div>
             <div class="col-xl-3 col-lg-4 col-sm-6 mt_50">
                <div class="blog-box">
                   <div class="blog-hover-img">
                      <a href="blog-view.html">
                         <img class="img-fluid lazy-load" src="../../assets/img/blog-13.jpg" alt="img"/>
                      </a>
                   </div>
                   <div class="text-area">
                      <p>July 21, 2022</p>
                      <a href="blog-view.html">
                         <h2>clearing corporations get sebi nod to invest in overnight funds </h2>
                      </a>
                   </div>
                </div>
             </div>
             <div class="col-xl-3 col-lg-4 col-sm-6 mt_50">
                <div class="blog-box">
                   <div class="blog-hover-img">
                      <a href="blog-view.html">
                         <img class="img-fluid lazy-load" src="../../assets/img/blog-8.jpg" alt="img"/>
                      </a>
                   </div>
                   <div class="text-area">
                      <p>July 21, 2022</p>
                      <a href="blog-view.html">
                         <h2>oin Swedish Popstars Icona Pop on Gotland </h2>
                      </a>
                   </div>
                </div>
             </div>
             <div class="col-xl-3 col-lg-4 col-sm-6 mt_50">
                <div class="blog-box">
                   <div class="blog-hover-img">
                      <a href="blog-view.html">
                         <img class="img-fluid lazy-load" src="../../assets/img/blog-4.jpg" alt="img"/>
                      </a>
                   </div>
                   <div class="text-area">
                      <p>July 21, 2022</p>
                      <a href="blog-view.html">
                         <h2>xiaomi posts slowest ever revenue-growth in third quarter </h2>
                      </a>
                   </div>
                </div>
             </div>
             <div class="col-xl-3 col-lg-4 col-sm-6 mt_50">
                <div class="blog-box">
                   <div class="blog-hover-img">
                      <a href="blog-view.html">
                         <img class="img-fluid lazy-load" src="../../assets/img/blog-9.jpg" alt="img"/>
                      </a>
                   </div>
                   <div class="text-area">
                      <p>July 21, 2022</p>
                      <a href="blog-view.html">
                         <h2>Nothing Compares to Swedish Summer </h2>
                      </a>
                   </div>
                </div>
             </div>
             <div class="col-xl-3 col-lg-4 col-sm-6 mt_50">
                <div class="blog-box">
                  <div class="blog-hover-img">
                      <a href="blog-view.html">
                         <img class="img-fluid lazy-load" src="../../assets/img/blog-14.jpg" alt="img"/>
                      </a>
                  </div>
                   <div class="text-area">
                      <p>July 21, 2022</p>
                      <a href="blog-view.html">
                         <h2>Teamwork of team members together </h2>
                      </a>
                   </div>
                </div>
             </div>
             <div class="col-xl-3 col-lg-4 col-sm-6 mt_50">
                <div class="blog-box">
                   <div class="blog-hover-img">
                      <a href="blog-view.html">
                         <img class="img-fluid lazy-load" src="../../assets/img/blog-10.jpg" alt="img"/>
                      </a>
                   </div>
                   <div class="text-area">
                      <p>July 21, 2022</p>
                      <a href="blog-view.html">
                         <h2>WhatsApp shared ‘technical jargon’ with govt agency, didn’t </h2>
                      </a>
                   </div>
                </div>
             </div>
             <div class="col-xl-3 col-lg-4 col-sm-6 mt_50">
                <div class="blog-box">
                   <div class="blog-hover-img">
                      <a href="blog-view.html">
                         <img class="img-fluid lazy-load" src="../../assets/img/blog-11.jpg" alt="img"/>
                      </a>
                   </div>
                   <div class="text-area">
                      <p>July 22, 2022</p>
                      <a href="blog-view.html">
                         <h2>How to Become a Successful Young  </h2>
                      </a>
                   </div>
                </div>
             </div>
             <div class="col-xl-3 col-lg-4 col-sm-6 mt_50">
                <div class="blog-box">
                   <div class="blog-hover-img">
                      <a href="blog-view.html">
                         <img class="img-fluid lazy-load" src="../../assets/img/blog-12.jpg" alt="img"/>
                      </a>
                   </div>
                   <div class="text-area">
                      <p>July 22, 2022</p>
                      <a href="blog-view.html">
                         <h2>The user can also replenish a balance </h2>
                      </a>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <!-- end blog area -->
    <app-newsletter></app-newsletter>
    <!-- start sign-in modal  -->
    <app-connexion></app-connexion>
    <!-- end sign-in modal  -->
 </main>